body {

    margin: 0;
    text-align: center;
    font-family: 'Pacifico', cursive;
}



h1 {
    margin: 50 auto 0;
    font-size: 3.5rem;
    color: #66BFBF;
}

h2 {

    font-family: 'Caveat Brush', cursive;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 0px;

    

}

h3  {
     
    font-family: 'Patrick Hand', cursive;
    color: #11999E;

}

p {
    
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    margin-bottom: 0;

}

.top-container {

    position: relative;
    padding-top: 150px;
    background-color: #bce6eb;



}

.middle-container {

    margin: 100px 0;


}

.bottom-container {

    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {

    width: 50%;
    margin: 100px auto;
    text-align: left;
    
}



.top-cloud {

    position: absolute;
    top: 80px;
    right: 300px;
}

.bottom-cloud {

    position: absolute;
    top: 400px;
    left: 300px;
}


.web {

    width: 25%;
    float: left;
    margin-right: 30px;
    margin-top: 0;
    
    
}

.chillies {

    width: 25%;
    float: right;
    margin-left: 30px;
    margin-top: 10px;
}


.profile {

    width:60%;
    margin: 50px auto;

}

.pro {

    width:25%;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }

  
  



.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  


hr {
        border: dotted #aef5f5 6px;
        border-bottom: none;
        width: 4%;
        margin: 100px auto;
    }

    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }
      

      
a{
    color: #11999E;
    font-family: 'Patrick Hand', cursive;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #EAF6F6;
  }
  

